{% extends "layout.html" %}
{% block heading %}
Drafts
{% endblock %}
{% block subheading %}
This page contains drafts. Please do not share this page.
{% endblock %}
{% block content %}
<div class="w3-cell w3-mobile" id="test">
    <div class="w3-animate-bottom w3-light-grey w3-card-4 w3-round-large w3-padding w3-margin">
        <h1>Prototype for @ashh</h1>
        <div class="scrollmenu" style="overflow: auto; white-space: nowrap;">
            {% set stuff = ['<h1>Hello this is a prototype</h1>', '<h1>Hello this is a prototype 2</h1>', ] %}
            {% for html in stuff %}
            <div class="w3-animate-bottom w3-light-grey w3-card-4 w3-round-large w3-padding w3-margin" style="display: inline-block; max-width: 25em; max-height: 50em;">
                {{ html|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
