{% extends "layout.html" %}
{% block heading %}
Ken Shibata
{% endblock %}
{% block bodyoptions %}
onload="nav_open();"
{% endblock %}
{% block content %}
<script>
    new TypeIt('#cycle-0', {
    strings: ["an excited", "an outgoing"],
    speed: 2000,
    }).go();
    // cycleSingle("cycle-0", ["an excited", "an outgoing"], 0, 2000);
    cycleSingle("cycle-1", ["full stack web developer", "developer", "student", "Innovator"], 0, 2000);
    cycleSingle("cycle-2", ["concurrent programming", "deep learning", "programming language design"], 0, 2000);
    cycleSingle("cycle-3", ["Python", "C++", "HTML", "React", "React Native", "Flutter", "Go", "Flask"], 0, 2000);
    cycleSingle("cycle-4", ["Julia", "Lua", "Nim"], 0, 2000);
</script>
<div class="w3-cell w3-mobile" id="about">
    <div class="w3-animate-bottom w3-green w3-card-4 w3-round-large w3-padding w3-margin">
        <h1>About Me</h1>
        <p>
            Hey! I'm Ken, <span id="cycle-0">an excited</span> <span id="cycle-1">developer</span> from Toronto.<br />
            I love to do anything related to <span id="cycle-2">concurrent programming</span>.<br />
            I can write in <span id="cycle-3">Python</span>, <br />
            and I'm learning <span id="cycle-4">Julia</span>.<br />
        </p>
    </div>
</div>
<div class="w3-row">
    <div class="w3-cell w3-mobile" id="test">
        <div class="w3-animate-bottom w3-green w3-card-4 w3-round-large w3-padding w3-margin">
            <h1>My Projects</h1>
            <div class="w3-row w3-mobile">
                <div class="w3-cell w3-mobile w3-animate-bottom w3-white w3-card-4 w3-round-large w3-padding">
                    <h1>Coa</h1>
                    <p>
                        I'm working on a clean, object-oriented, and asynchronous programming language. You can see the website of the beta version <a href="https://coalang.gitlab.io">here</a>. This sample prints out the OS and says hi to you:
                        <p class="w3-code">
                            name.=(.text())<br/>
                            .io.out('What's your name?')<br/>
                            .io.in(name)<br/>
                            .io.out('Hello, "name"!')<br/>
                            .env.os.==(.env.os.gnu_linux)([<br/>
                              .io.out('GNU/Linux rocks!')<br/>
                            ]).!([<br/>
                              .io.out('I see that you\'re using ".env.os"...')<br/>
                            ])<br/>
                        </p>
                        <p class="w3-code">
                            What's your name?<br/>
                            <b>Ken</b><br/>
                            Hello, Ken!<br/>
                            <i>If using GNU/Linux:</i><br/>
                            GNU/Linux Rocks!<br/>
                        </p>
                    </p>
                </div>
            <div class="w3-row w3-mobile">
                <div class="w3-cell w3-mobile w3-animate-bottom w3-white w3-card-4 w3-round-large w3-padding">
                    <h1>More Coming Soon!</h1>
                    <p>
                        I'm still adding more of the projects that I have done and I am doing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
